{% extends "::base.html.twig" %}

{% block title %}MedicalAnalysisBundle:Patient:edit{% endblock %}

{% block body %}
	<h1>Welcome to the Patient:edit page</h1>
	<div class="well">
	  {{ form(form) }}
	</div>
{% endblock %}
